<aside class="main-sidebar">
    <!-- sidebar: style can be found in sidebar.less -->
    <section class="sidebar">
      <!-- sidebar menu: : style can be found in sidebar.less -->
      <ul class="sidebar-menu" data-widget="tree">
        <li class="header">MENU PRINCIPAL</li>
          <li class="treeview">
            <a href="#">
              <i class="fa fa-users"></i><span>PESSOA</span>
              <span class="pull-right-container">
                <i class="fa fa-angle-left pull-right"></i>
              </span>
            </a>
            <ul class="treeview-menu">
              <% if user_signed_in? %>
                <li> <%= link_to ClientFile.model_name.human.pluralize, client_files_path %></li>
             <% end %>
             <li>	<%= link_to Client.model_name.human.pluralize, clients_path %></li>
            </ul>
          </li>
          <% if user_signed_in? %>
            <li class="treeview">
              <a href="#">
                <i class="fa fa-calendar"></i><span>COMPROMISSOS</span>
                <span class="pull-right-container">
                  <i class="fa fa-angle-left pull-right"></i>
                </span>
              </a>
              <ul class="treeview-menu">
                <li> <%= link_to Appointment.model_name.human.pluralize, appointments_path %></li>
              </ul>
            </li>
          <% end %>
      </ul>
    </section>
    <!-- /.sidebar -->
</aside>
