<div class="card card-outline card-danger">
  <div class="card-header with-border">
    <h3 class="card-title">
      <strong>
        Editar cliente
      </strong>
    </h3>
  </div>
  <%= render 'form' %>
</div>
