<div class="card card-outline card-danger">
  <div class="card-header with-border">
    <h5 class="card-title">
      <i class="fa fa-user"></i>
      <strong>
        Cadastrar cliente
      </strong>
    </h3>
  </div>
  <%= render 'form' %>
</div>
