<div class="card card-outline card-danger">
  <div class="card-header with-border">
    <h3 class="card-title">
      <i class="fa fa-phone"></i>
      <strong>
        Nova importação de pessoas
      </strong>
    </h3>
  </div>
  <%= render 'form' %>
</div>
